

.container {
  min-width: 100%;
  min-height: 100%;
  margin: 50px auto;
}

.header,
.footer {
  width: 100%;
}

.header {
  height: 100px;
  border-bottom: 1px solid #000;
}

.footer {
  height: 50px;
  border-top: 1px solid #000;
  background-color: #ccc;
}

.MetalBands {
  position: relative;
}